node_modules/
*.log
*.map
*.plugin
src/**/*.css
lyrics/
/index.js
/lyric-test.js
/index.css
/startup_script.js
/worker_script.js
.DS_Store
target/
.yarn/cache/
.yarn/install-state.gz
.nx
.idea
.vscode/
*.tsbuildinfo
.million/
vendor/
packages/player/updater-key.pub
packages/player/updater-key
packages/player/dist/index.html
packages/player/dist/git-metadata.json
packages/player/dist/vite.svg
.gitignore
packages/player/dist/tauri.svg
packages/player/dist/screenshot.html
